

/*div{
    border:solid 1px #00000012;
}*/
:host{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    width: 100%;
}
.main_wrapper{
    display: flex;
    flex: 1;
    flex-direction: row;
}
.filter_sections{
    width:225px;
    border-right: solid 1px #00000012;
    overflow-y: auto;
}
.facet_name{
    text-transform: capitalize;
}
.explore_section{
    flex:1;
    border-right: solid 1px #00000012;;
}
.results_section{
    width: 400px;
    position: relative;
    height: 100%;
    overflow-x: hidden;
    /*display:none;
    position: absolute;
    z-index:1;*/
}
.node {
    stroke: #fff;
    stroke-width: 1.5px;
    cursor: pointer;
}
.filter_checkbox input{
    vertical-align: bottom;
}
.link {
    stroke: #999;
    stroke-opacity: .7;
    display:none;
    cursor: pointer;
}
text {
    cursor: pointer;
}
.header, .text_search_row {
    padding:10px;
    border-bottom:solid 1px #00000012;
    text-align: center;
}
.search_box {
    padding: 5px 10px;
    width: 300px;
    border-radius: 5px;
    border: solid 1px #676464;
    text-align: left;
}
.search_button{
    padding: 5px 10px;
    border-radius: 5px;
    border: solid 1px #676464;
    cursor:pointer;
    background: white;
}
.filter_section {
    padding: 10px;
    border-bottom: solid 1px #cecece;
    font-size:14px;
}
.filter_header {
    font-size: 16px;
    margin: 10px 0px;
}

.filter_checkbox {
    padding-left: 10px;
}
.icon_wrap {
    vertical-align: -webkit-baseline-middle;
    float:right;
}
.result { 
    padding: 10px;
    padding-bottom: 0;
    border-bottom: solid 1px #cecece;
    margin-bottom: 10px; 
    font-size:14px;
    overflow-wrap: break-word;
}
.doc_page{
    left: 100%;
    overflow: auto;
}
.result_page,.doc_page{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.5s;
}
.docOpened{
    transform: translateX(-100%);
}
.result_title { 
    color:cornflowerblue;
    font-size:16px;
    margin-left: 5px;
    cursor: pointer;
    margin-bottom:10px;
}
.result_description,.result_year{
    margin-left:5px;
    margin-bottom:5px;
}
.explore_section a{
    margin: 10px;
    text-decoration: underline;
}
.result_clamp{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.result_subject::before{
    content: 'Subjects: ';
    font-size: 12px;
    color: cornflowerblue;
}
.result_contributors::before{
    content: 'Contributors: ';
    font-size: 12px;
    color: cornflowerblue;
}
.result_topic::before{
    content: 'Topics: ';
    font-size: 12px;
    color: cornflowerblue;
}
.result_links{
    font-size: 13px;
    max-width: 100%;
    word-break: break-word;
    margin: 0px 2px;
    cursor: pointer;
}
.result_links:hover{
    text-decoration: underline;
    color:cornflowerblue;
}
div .result_links::after{
    content:','
}
div .result_links:last-child::after{
    content:'';
}
::ng-deep .ngx-pagination{
    padding-left: 0;
}
.results_section_wrapper{
    height: 100%;
    overflow: auto;
}
.results-pagination{
    position: absolute;
    bottom: 0;
    background: white;
    width: 383px;
}
.results_section_inner_wrapper{
    padding-bottom: 57px;
}