<div class="header">Header</div>
<div class="text_search_row">
    <input type="text" class="search_box" [(ngModel)]="searchBoxText" placeholder="Enter your query" #search />
    <button class="search_button" (click)="getGraphAndDocs(searchBoxText)">Search</button>
</div>

<div class="main_wrapper">
    <div class="filter_sections">
        <ng-container *ngFor="let facet of getKeys(facets)">
            <div *ngIf="facets[facet].length > 0" class="filter_section">
                <div class="filter_header"><span class="facet_name">{{facet}}</span><span class="icon_wrap"><i class="material-icons">keyboard_arrow_up</i></span></div>
                <div class="filter_checkbox">
                    <ng-container *ngFor="let facet_item of facets[facet]">
                        <input (change)="facetClick($event,facet,facet_item.key)" type="checkbox" [attr.name]="facet_item.key" [attr.value]="facet_item.key">{{facet_item.key}} ({{facet_item.doc_count}})<br>
                    </ng-container>

                </div>
            </div>
        </ng-container>
    </div>
    <div class="explore_section">
        <ng-container *ngIf="nodes.length > 0">
            <graph [nodes]="nodes" [links]="links" (nodeClicked)="openLinks($event)"></graph>
        </ng-container>
    </div>
    <div class="results_section">
        <div class="result" *ngFor="let doc of docResults">
            <div class="result_title" [innerHtml]="doc._source['Uniform Title'] || doc._source['Main Title']"></div>
            <div *ngIf="doc._source['Description']" class="result_description">
                <div class="result_clamp" [innerHtml]="limitText(doc._source['Description'])"></div>
            </div>
            <div *ngIf="doc._source['Contributors']" class="result_year result_contributors">
                <a class="result_links" *ngFor="let name of doc._source['Contributors']" [innerHtml]="name"></a>
            </div>
            <div *ngIf="doc._source['Subjects']" class="result_year">
                <div class="result_subject">
                    <a class="result_links" *ngFor="let subject of getUnique(doc._source['Subjects'])" [innerHtml]="subject"></a>
                </div>
            </div>
            <div *ngIf="doc._source['Topics']" class="result_year result_topic">
                <a class="result_links" *ngFor="let topic of doc._source['Topics']" [innerHtml]="topic"></a>
            </div>
        </div>
    </div>
</div>
<div class="tooltip" style="opacity: 0"></div>