

/*div{
    border:solid 1px #00000012;
}*/
:host{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    width: 100%;
}
.header_link {
    float: left;
    padding: 5px 10px;
    cursor: pointer;
    color: cornflowerblue;
}
.header_link:hover {
    text-decoration: underline;
}
.main_wrapper{
    display: flex;
    flex: 1;
    flex-direction: row;
    position: relative;
}
.sessionWrap {
    position: absolute;
    right: 20px;
    top: 15px;
}
.filter_sections{
    width:225px;
    display:flex;
    flex-direction: column;
    height: 100%;
    border-right: solid 1px #00000012;
    transform: translateX(-100%);
    position: absolute;
    background: #ebebeb;
    z-index: 1;
    transition: transform 0.5s;
}
.filter_button {
    position: absolute;
    left:100%;
    top: 0;
    cursor: pointer;
    padding: 5px;
    background: #cecece;
}
.filter_section_wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.showFilter{
    transform: translateX(0%);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.facet_name{
    text-transform: capitalize;
}
.explore_section{
    flex:1;
    display:flex;
    border-right: solid 1px #00000012;
    position: relative;
}
.results_section{
    width: 40%;
    position: relative;
    height: 100%;
    overflow-x: hidden;
    /*display:none;
    position: absolute;
    z-index:1;*/
}
.hidden {
    display:none;
}
.node {
    stroke: #fff;
    stroke-width: 1.5px;
    cursor: pointer;
}
.filter_checkbox input{
    vertical-align: bottom;
}
.link {
    stroke: #999;
    stroke-opacity: .7;
    display:none;
    cursor: pointer;
}
text {
    cursor: pointer;
}
.header, .text_search_row {
    padding:10px;
    border-bottom:solid 1px #00000012;
    text-align: center;
    display:flex;
    height:50px;
    position: relative;
}
.bookmark {
    width:20px;
    vertical-align: bottom;
    color: grey;
}
.bookmark.active {
    color: cornflowerblue;
}
.search_box {
    padding: 5px 10px;
    width: 300px;
    border-radius: 2px;
    border: solid 1px #676464;
    background: #eae7e7;
    text-align: left;
}
.search_box:focus {
    background: white;
}
.search_button{
    padding: 5px 10px;
    border-radius: 5px;
    border: solid 1px #676464;
    cursor:pointer;
    background: white;
}
.filter_section {
    padding: 10px;
    border-bottom: solid 1px #cecece;
    font-size:12px;
}
.filter_sections.textual {
    position: relative;
}
.filter_header {
    font-size: 14px;
    margin: 10px 0px;
}

.filter_checkbox {
    padding-left: 10px;
}
.icon_wrap {
    vertical-align: -webkit-baseline-middle;
    float:right;
    cursor: pointer;
}
.moreFacetDiv{
    text-align: right;
    margin-top:5px;
    padding-right:5px;
}
.moreFacetLink{
    cursor: pointer;
}
.result { 
    padding: 10px;
    padding-bottom: 0;
    border-bottom: solid 1px #cecece;
    margin-bottom: 10px; 
    font-size:14px;
    overflow-wrap: break-word;
    display:flex;
}
/* .imgPreview, .result_content {
    float:left;
}
.clearfix {
    clear: both;
} */
.doc_page{
    left: 100%;
    overflow: auto;
}
.result_page,.doc_page{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.5s;
}
.docOpened{
    transform: translateX(-100%);
}
.results_section.textual {
    flex: 1;
    width: initial;
}
.result_title { 
    color:cornflowerblue;
    font-size:16px;
    margin-left: 5px;
    cursor: pointer;
    margin-bottom:10px;
}
.result_description,.result_year{
    margin-left:5px;
    margin-bottom:5px;
}
.explore_section a{
    margin: 10px;
    text-decoration: underline;
}
.result_clamp{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.result_subject::before{
    content: 'Subjects: ';
    font-size: 12px;
    color: cornflowerblue;
}
.result_contributors::before{
    content: 'Contributors: ';
    font-size: 12px;
    color: cornflowerblue;
}
.result_topic::before{
    content: 'Topics: ';
    font-size: 12px;
    color: cornflowerblue;
}
.result_links{
    font-size: 13px;
    max-width: 100%;
    word-break: break-word;
    margin: 0px 2px;
    cursor: pointer;
}
.result_links:hover, .moreFacetLink:hover{
    text-decoration: underline;
    color:cornflowerblue;
}
div .result_links::after{
    content:','
}
div .result_links:last-child::after{
    content:'';
}
::ng-deep .ngx-pagination{
    padding-left: 0;
    text-align: center;
}
.results_section_wrapper{
    height: 100%;
    overflow: auto;
}
.results-pagination{
    position: absolute;
    bottom: 0;
    background: #ebebeb;
    width: 100%;
}
.results_section_inner_wrapper{
    padding-bottom: 57px;
}
.search_field_wrap{
    flex: 1;
}
.find_node_wrap{
    flex: 1;
    position: absolute;
    top: 10px;
    left: 50px;
    width: 120px;
}
.topicListWrapper{
    background: #ebebeb;
    width: 100%;
    font-size: 14px;
    max-height: 200px;
    overflow: auto;
    border: solid 1px #cecece;
    position: absolute;
}
.searchBoxAndTopicList{
    display:inline-block;
    width: 100%;
}
.searchBoxAndTopicList input {
    width: 100%;
}
.topicsList {
    padding: 5px 0 5px 5px;
    border-bottom: solid 1px #cecece;
    cursor: pointer;
    font-size:12px;
}
.moreFacetsSection {
    position: absolute;
    background:#00000085;
    height:100%;
    width:100%;
    z-index:2;
    
}
.moreFacetsWrapper {
    display:flex;
    position: absolute;
    padding-left:10px;
    background:#ebebeb;
    height:80%;
    width:80%;
    top: 10%;
    left:10%;
    overflow: hidden;
    overflow-y:auto;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.moreFacetsInput {
    flex: 0 0 33%;
    font-size: 12px;
    margin-bottom: 10px;
}
.moreFacetsActionsRow {
    flex: 1 0 100%;
    display: flex;
    justify-content: flex-end;
    font-size:13px;
    position: sticky;
    bottom: 0px;
    margin-top: 10px;
    padding-bottom: 10px;
    background: #ebebeb;
}
.moreFacetsActionsRow a {
    padding: 7px;
    border:solid 1px #cecece;
    border-radius:2px;
    cursor: pointer;
    margin-top:10px;
    margin-right:10px;
}
.moreFacetsActionsRow a:hover {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
    background-image: -webkit-linear-gradient(to top,#f8f8f8,#f1f1f1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    background-image: linear-gradient(to top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(to top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}
.moreFacetsTitle {
    flex: 1 0 100%;
    top: 0;
    background: #ebebeb;
    position: sticky;
    padding: 10px 0;
}

/* Styles for selected filters */

.selectBox {
    position: relative;
    margin: 0px 10px;
    padding: 5px 0px 5px 4px;
    display: inline-block;
    z-index: 2;
    background: #ebebeb;
    border: solid 1px #cecece;
    min-width: 136px;
    text-align: left;
    font-size: 14px;
}
.selectItems {
    position: absolute;
    top: 100%;
    width: 100%;
    box-sizing: content-box;
    left: -1px;
    margin-top: 0px;
    border: solid 1px #cecece;
    background: #ebebeb;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    display:none;
}
.selectItems.show {
    display:block;
}
.selectItem {
    display:flex;
    flex-direction:row;
    padding: 5px;
    border-bottom: solid 1px #cecece;
    align-items: center;
}
.itemText {
    flex: 1;
    font-size: 12px;
}
.itemRemove i {
    font-size: 14px;
    cursor: pointer;
}
.result img {
    max-width: 100px;
    min-width: 1px;
    margin-bottom: 10px;
}
.filterRowText {
    display: inline-block;
    line-height: 30px;
    font-size: 14px;
    margin-right: 10px;
}
.selectName {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}
.selectName i {
    margin-top: -3px;
}